<br/><br/>

  <div class="col-md-8 col-md-offset-2">
    <h3>A to Z solutions,</h3>
    <br/>
    
      
      <ul class="text-success" style="font-weight: bold">
        As the name implies provides complete turnkey IT solutions to its 
    customers.With succesful presence in the Kingdom we have 
    gained respect and recognition from all our clients and our 
    reputation in the markte remains unprecedented. We have 
    developed a distinctive capability to integrate IT Solutions from 
    all three domains, hardware, software and networking to bring 
    forth high-end cost effective and reliable solutions for our 
    customers. we offer a wide range of business critical solutions 
    which include, but are not limited to , infrastructure software , data 
    storage security solutions. We also provide solutions which will 
    enchance the business performance of our customers like 
    Enterprise Resource Planning application , software development 
    and network optimization.
      </ul>
    
  </div>
  <a class="col-md-offset-2" [routerLink]="['/login']"><h3>Login..</h3></a>

